<html>
  <aw:include path="/templates/head.xml" setcon.title="Testimonial - Mark Boas" />
  <body>
    <aw:include path="../header.xml" />
        <div class="content">
		<h2>Mark Boas - (Front End Developer)</h2>
		    <section class="main-content">
				<nav  class="breadcrumbs">
	   		    	<ul>
	   			   		<li><a href="/templates/En/">Home</a></li>
						<li><span>&#8250;</span></li>
	   			   		<li><a href="/templates/En/testimonials/">Testimonials</a></li>
			    	</ul>
			    </nav>

    <p>
	From a Front End perspective, using AgileWiki makes a lot of sense. The framework manages to deliver on several fronts. It comes with a powerful XML based templating language. Which although requiring a bit of mind shift, is terse and powerful and promises a certain degree of control over the backend while leaving the usual paradigms of separation intact.
    </p>
	<p>
	I developed this site with a very early alpha of AgileWiki5 and immediatley I began to enjoy myself. It is great to be able to use XML fragments and have the ability to easily pass data from one to another - features that mean that there is very little duplication of markup - if any. I also found myself adding pages to the site very easily.
	</p>
	<p>
	I've yet to see what a Web Designer will think of structure of a typical AW5 application but I suspect the onus will be on the Front End Developer to make that as clear as possible. I can't imagine it being any more complex than many of the other frameworks out there, in fact I can imagine in may ways it would be simpler.
	</p>
			</section>
		<aside> </aside>
	</div>
    <aw:include path="../footer.xml" aw:setcon.template="currentRequest"/>
  </body>
</html>
