<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <script type="text/javascript" src="/jquery/jquery-1.4.2.js"> </script>
    <script type="text/javascript" src="/jquery/jquery.json-2.2.js"> </script>
    <script type="text/javascript" src="/org/cometd.js"> </script>
    <script type="text/javascript" src="/jquery/jquery.cometd.js"> </script>
    <aw:query cmd="cometChannel">
        <aw:script type="text/javascript" charset="UTF-8">
            var channel = '<aw:contents name="user.channelId"/>'
            var msg = {"target": "~/Desktop/",
  userEvent: {
    "action": "NewWindow",
    "path": "/",
    "view": "Journal",
    "xPosition": "50",
    "yPosition": "100",
    "height": "600",
    "width": "800"
    }
}
        </aw:script>
    </aw:query>
    <script type="text/javascript" src="/application.js"> </script>
</head>
<body>
<div id="body"></div>
</body>
</html>


