<html>
  <aw:include path="/templates/head.xml" setcon.title="August 2010" />
  <body>
    <aw:include path="../header.xml" />
   	<div class="content">
   		<section class="main-content">		
			<h2>August, 2010</h2>
			<nav  class="breadcrumbs">
		   	   	<ul>
		   	   		<li><a href="/templates/En/">Home</a></li>
					<li><span>&#8250;</span></li>
		   	   		<li><a href="/templates/En/changes/">Change Log</a></li>
			   	</ul>
			</nav>
    <ol>
      <li>Rolon Browser</li>
      <li>isSubRole query</li>
      <li>Change Log</li>
      <li>qualified sequence</li>
      <li>superRoles sequence</li>
      <li>Role browser (Roles) now includes singletons, super- and sub-roles</li>
      <li>Added a document on Updates</li>
      <li>Replaced urlAppend.</li>
      <li>New user, login and logoff now complete except for authentication.</li>
      <li>The update API now uses Rolon proxies.</li>
      <li>Documented the API for Context, Extended Context, Role, Update Requests, 
      Update Parameters, Noop Update Request, create child update request and Rolon update request.</li>
      <li>The language command updates the user Rolon, when logged in.</li>
      <li>New elements added: aw:encodedContents, aw:capture, aw:script, aw:rolon and aw:view</li>
      <li>Time is now sticky when using the view browser</li>
    </ol>
        	</section>
		<aside class="blue">    
		<h3>Change Log</h3>
		<ul>
      <li>
        <aw:a href="2010-09.html">September, 2010</aw:a>
      </li>
      <li>
        <aw:a href="2010-08.html">August, 2010</aw:a>
      </li>
    </ul> </aside>
	</div>
    <aw:include path="../footer.xml" aw:setcon.template="currentRequest"/>
  </body>
</html>
