<html>
  <aw:include path="/templates/head.xml" setcon.title="October 2010" />
  <body>
    <aw:include path="../header.xml" />
    <h2><aw:a href=".">Change Log</aw:a>/October, 2010</h2>
    <ol>
      <li>Read access is now enforced</li>
      <li>New privilege filter</li>
      <li>New singleton filter</li>
      <li>New writable singleton group filter</li>
      <li>Groovy sequence method added to extended context</li>
      <li>New writable singleton groups sequence</li>
      <li>Create child request adds the user as the owner</li>
      <li>New create sub-group view on rolon</li>
      <li>Configured 6 sub-groups</li>
      <li>In the welcome banner, the user name is a link to the user's rolon in the view browser</li>
      <li>Subgroups now implicitly inherit members from their super-group</li>
      <li>User groups method added to extended context, results are cached.</li>
      <li>Added a document describing access control.</li>
      <li>Add renameRolonUpdateRequst to the API.</li>
      <li>Effected Rolons view now lists virtual Rolons.</li>
      <li>Greatly enhanced the journal views.</li>
      <li>the view name is now an effected rolon and the tag line of a journal entry </li>
      <li>Tag lines can now be used to distinguish Rolons.</li>
      <li>the view name is now an effected rolon and the tag line of a journal entry</li>
      <li>Tag lines can now be used to distinguish Rolons.</li>
      <li>Effected Rolons view now includes virtual Rolons</li>
      <li>View name added as journal entry tag line</li>
    </ol>
    <aw:include path="../footer.xml" aw:setcon.template="currentRequest"/>
  </body>
</html>
