<html>
  <aw:include path="/templates/head.xml" setcon.title="Change Log" />
  <body>
    <aw:include path="../header.xml" />
      <div class="content">
   		<section class="main-content">		
			<h2>Change Log</h2>
    <ul>
      <li>
        <aw:a href="2010-10.html">October, 2010</aw:a>
      </li>
      <li>
        <aw:a href="2010-09.html">September, 2010</aw:a>
      </li>
      <li>
        <aw:a href="2010-08.html">August, 2010</aw:a>
      </li>
    </ul>
    		</section>
		<aside> </aside>
	</div>	
    <aw:include path="../footer.xml" aw:setcon.template="currentRequest"/>
  </body>
</html>
