<html>
  <aw:include path="/templates/head.xml" setcon.title="Getting Started" />
  <body>
    <aw:include path="../header.xml" setcon.heading="Getting Started" />
    
       	<div class="content">
			<section class="main-content">
   			    <h2>Getting Started</h2>
   			    <nav  class="breadcrumbs">
   			    	<ul>
	   			   		<li><a href="/templates/En/">Home</a></li>
						<li><span>&#8250;</span></li>
	   			   		<li><a href="/templates/En/docs.html">Docs</a></li>
   			    	</ul></nav>
		    	<aw:include path="../contents.xml" />
			</section>
			<aside> </aside>
		</div>


    <aw:include path="../footer.xml" aw:setcon.template="currentRequest"/>
  </body>
</html>
