<html>
  <aw:include path="/templates/head.xml" setcon.title="Contributors" />
  <body>
    <aw:include path="header.xml" />
    <div class="content">
   		<section class="main-content">		
	    <h2>Contributors</h2>
	    <ul class="listtypenone items">
	<li>
    <img src="/images/contributors/BillLaForge.jpg"> </img> <span><em>Bill La Forge</em>, 
    project lead.
	</span>
	</li>
    <li>
    <img src="/images/contributors/Norm.jpg"> </img> <span><em>Norman Kashdan</em>,
    the father of rolonic theory.</span>
    </li>
	<li>
    <img src="/images/contributors/Naji.jpg"> </img> <span><em>Mohamad Naji</em>, 
    lead developer.</span>
    </li>
	<li>
    <img src="/images/contributors/MarkBoas.jpg"> </img> <span><em>Mark Boas</em>,
    front-end developer.</span>
    </li>
	<li>
    <img src="/images/contributors/user.jpg" > </img> <span><em>Alex</em>,
    developer.
	</span>
    </li>
	<li>
    <img src="/images/contributors/user.jpg" > </img> <span><em>Ruchi</em>,
    trainee developer.
	</span>
    </li>
	<li>
    <img src="/images/contributors/BarrieMcGuire.jpg"> </img> <span><em>Barrie McGuire</em>, developer.
	</span>
	</li>
    <li>
	<img src="/images/contributors/SuzanneLaForge.jpeg" > </img> <span><em>Suzanne La Forge</em>, graphic designer.
	</span>
    </li>
	<li>
    <img src="/images/contributors/Mokush.jpg" > </img> <span><em>Mokush</em>,
    contributed the initial version of the webtop.
	</span>
    </li>
	</ul>
			</section>
		<aside> </aside>
	</div>	
    <aw:include path="footer.xml" aw:setcon.template="currentRequest"/>
  </body>
</html>
