<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

	<aw:include path="/templates/head.xml" setcon.title="The open source Web Application Framework that just Scales!"/>

	<body>
			<aw:include path="/templates/En/header-front.xml" />	
			<div class="content">
			<section class="main-content"><p>Web Application Development frameworks tends to follow a path of evolution rather than revolution, well 
<em>AgileWiki is intended to be revolutionary</em> and is breathtakingly successful in its aim. </p>
<p>
AgileWiki will make you look at that science of building Web Applications in a different way. Built upon the 
principles of <em>Rolonic Theory</em>, AgileWiki takes Web Application Development to the next level. Scaling is built 
in and applications built upon the AgileWiki Framework are immediately suited to life in The Cloud.</p>
<p> 
AgileWiki is written in <em>Scala</em> 2.8 and uses an embedded <em>Jetty</em> 7 web server, two new but crucially stable technologies. 
<em>Comet</em> based push communication comes as standard. AgileWiki is of course a <em>NoSQL</em> distributed database based solution, (Did you 
even have to ask?), this means that it easily spans petabytes of data over hundreds of servers.</p>
<p>
<em>Asynchronousity is at the heart of the AgileWiki framework.</em> Asynchronous processes are highly scalable and are key contributors to application robustness.</p>
<p>
Deployment is a breeze, the only dependency is the Java Virtual Machine. We do the rest for you. 
Developers can craft applications combining AgileWiki's <em>powerful new templating system</em> and <em>Groovy</em> scripts. No Scala knowledge 
is required. In fact we positively encourage you to rethink your approach to Web Application Development. </p>
<p>
Playing nicely with <em>HTML5</em> and <em>JavaScript</em> libraries means that Front End Developers can easily integrate 
increasingly important client-side functionality and Web Designers can bring sites alive without worrying 
about any underlying complexity. </p>
<p>
Did we mention that it scales? </p>
</section>
			<aside>
				<ul>
					<li>Scalable by Design</li>
					<li>Asynchronous</li>
					<li>Robust </li>
					<li>Blazingly Fast</li> 
					<li>Loves The Cloud</li>
					<li>Comet Built In</li>
					<li>NoSQL</li>
					<li>Powerful Templating</li> 
					<li>Groovy Scripting</li>
				</ul>
			</aside>
			</div>

			<aw:include path="/templates/En/footer.xml" aw:setcon.template="currentRequest"/>
			<!--test -->
	</body>
</html>
