.icon {
  /*background-image: url('icons/home-icon.png'); */
  width: 64px;
}



/*#oxipad-starter {
  background-image: url('icons/oxipad-icon.png'); 
}

#oxiphoto-starter {
  background-image: url(icons/oxiphoto-icon.png);
}

#info-starter {
  background-image: url(icons/info-icon.png);
}*/
